<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logowanie</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="login-container">
      <div class="login-box">
        <h1>Zaloguj się</h1>
        <p>Zaloguj się do studenckiej listy zadań</p>
        <form method="post">
          {% csrf_token %} 
          <input
            type="text"
            name="username"
            placeholder="Nazwa użytkownika"
            class="form-input"
            required
            id="id_username"
        />
        <input
            type="password"
            name="password"
            placeholder="Hasło"
            class="form-input"
            required
            id="id_password"
        />
          <button class="login-button" type="submit">Zaloguj</button>
        </form>
      </div>
    </div>
  </body>
</html>
